.main-box {
  border-top-width: 30px;
  border-bottom-width: 30px;
  /* border-top-right-radius: ; */
  border-radius: 20px;
  border-color: #DDDDDD;


  background-image: linear-gradient(90deg,
      #FFFFFF 12.5%
      /* 1*12.5% */
      ,
      #FFECE9 0,
      #FFECE9 25%
      /* 2*12.5% */
      ,
      #FFFFFF 0,
      #FFFFFF 37.5%
      /* 3*12.5% */
      ,
      #FFECE9 0,
      #FFECE9 50%
      /* 4*12.5% */
      ,
      #FFFFFF 0,
      #FFFFFF 62.5%
      /* 5*12.5% */
      ,
      #FFECE9 0,
      #FFECE9 75%
      /* 6*12.5% */
      ,
      #FFFFFF 0,
      #FFFFFF 87.5%
      /* 7*12.5% */
      ,
      #FFECE9 0);


}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}